<%- include('partials/header'); -%>

    <div class="navingthis">
        <a href="/" class="login">Welcome <%= user %>!</a>   

        <form action="/" method="POST">
            <button type="submit">Log out</button>
        </form>
    </div>

    <div class="newitem">
        <form action="/newitem" method="POST">
            <input class="iteminput" name="item" type="text">
            <button type="submit">Add new item</button>
        </form>
    </div>

    <div class="deletedandnotdeleted">
        <ul>
            <h1>Not deleted</h1>
            <% list.forEach(item => { %>
                <% if(!item.deleted) { %>
                    <div class="listItem">
                        <% if(item.completed) { %> 
                            <li class="completed"><%= item.content %></li> 
                        <% } else { %>
                            <li><%= item.content %></li> 
                        <% } %>
                        <div class="buttons">
                            <form action="/updateitem" method="POST">
                                <input type="submit" name=<%= item.id %> value="Complete">
                            </form>
                            <form action="/deleteitem" method="POST">
                                <input type="submit" name=<%= item.id %> value="Delete">
                            </form>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </ul>

        <ul>
            <h1>Deleted</h1>
            <% list.forEach(item => { %>
                <% if(item.deleted) { %>
                    <li><%= item.content %></li>
                <% } %>
            <% }); %>
        </ul>
    </div>

<%- include('partials/footer'); -%>